<section *ngIf="!isAdmin()">
  <h3 style="margin: 10px;">Tu equipo</h3>
  <article class="team">
    <div class="card" style="width: 18rem; height: 250px;" *ngFor="let team of teams">
      <div class="card-body">
          <h5 class="card-title">{{team.tName}}</h5>
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let user of team.users">
              <img [src]="user.photo" alt="">
              {{user.name}}
            </li>
          </ul>
        </div>
      </div>
  </article>
</section>
<section *ngIf="isAdmin()" class="teamsContainer">
    <article class="teamForm">
        <form [formGroup]="teamForm">
            <div class="row"><h5>Agregar equipo</h5></div>
            <div class="row">
                <input type="text" formControlName="name">
            </div>
            <div class="row">
                <button type="button" class="btn btn-primary" [disabled]="this.teamForm.invalid" (click)="agregarEquipo()" (keyup.enter)="agregarEquipo()">Agregar</button>
            </div>
        </form>
    </article>
    <article class="teams">
        <div class="card" style="width: 18rem; height: 250px;" *ngFor="let team of teams" (dragend)="onDrop($event)" (dragenter)="dragEnter(team.team)">
          <div class="card-body">
              <h5 class="card-title">{{team.tName}}</h5>
              <ul class="list-group">
                <li class="list-group-item" *ngFor="let user of team.users" dropzone="move" (dragstart)="dragStart(user)" [draggable]="true">
                  <img [src]="user.photo" alt="" class="userImg" >
                  {{user.name}}
                  <span class="material-symbols-outlined">
                    drag_indicator
                    </span>
                </li>
              </ul>
              <button class="btn btn-secondary" (click)="deleteTeam(team.team)">
                <span class="material-symbols-outlined">
                  delete
                  </span>
              </button>
            </div>
          </div>
      </article>
    <article class="unasigned">
        <div class="card" style="width: 18rem; height: 250px;">
          <h5 class="card-title m-2">Usuarios sin equipo</h5>
            <div class="card-body" *ngFor="let team of unasigned" (dragend)="onDrop($event)" (dragenter)="dragEnter(team.team)">
              <ul class="list-group">
                <li class="list-group-item" *ngFor="let user of team.users" (dragstart)="dragStart(user)" [draggable]="true">
                  {{user.name}}
                  <span class="material-symbols-outlined">
                    drag_indicator
                    </span>
                </li>
              </ul>
            </div>
          </div>
    </article>
  </section>