<!-- Top navbar with search and other filters -->
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <ul class="navbar-nav">
          <!-- Filter by asignment -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Responsable
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" *ngFor="let user of users" style="cursor: pointer;" (click)="filterByUser(user.name)">{{user.name}}</a></li>
            </ul>
          </li>
          <!-- Filter by status -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Estatus
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" style="cursor: pointer;" (click)="filterByStatus('Asignada')">Asignada</a></li>
              <li><a class="dropdown-item" style="cursor: pointer;" (click)="filterByStatus('En proceso')">En proceso</a></li>
              <li><a class="dropdown-item" style="cursor: pointer;" (click)="filterByStatus('Completada')">Completada</a></li>
            </ul>
          </li>
        </ul>
        <app-datepicker (start)="setDateFrom($event)" (end)="setDateTo($event)"></app-datepicker>
        <form class="d-flex">
          <input class="form-control me-2" type="search" (keyup)="search($event)" (search)="search($event)" aria-label="Search" placeholder="Buscar">
        </form>
        <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#add">Agregar</button>
      </div>
</nav>

<!-- Task list -->
<div class="container-fluid list">
  <ul class="list-group">
      <div *ngIf="loading" class="spinner-border text-success mx-auto my-5" role="status">
        <span class="sr-only">Loading tasks...</span>
      </div>
      <app-list-item *ngFor="let task of tasks" [task]="task" (outTask)="setCurrentTask($event)"></app-list-item>
  </ul>
</div>

<!-- Modals to edit/add task -->

<div class="modal fade" id="add" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="width: 700px;">
      <div class="modal-header">
        <h5 class="modal-title" id="addModalLabel">Actividad</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="close()"></button>
      </div>
      <div class="modal-body">
        <app-add [users]="users"></app-add>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="edit" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="editModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="width: 700px;">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalLabel">Actividad</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="close()"></button>
      </div>
      <div class="modal-body">
        <app-edit [currentTask]="currentTask" [users]="users"></app-edit>
      </div>
    </div>
  </div>
</div>
