.listHeader {
    width: 85%;
    margin: 10px auto;
}

.list {
    width: calc(100vw - 5rem);
    height: calc(100vh - 60px);
    overflow-y: scroll;
    overflow-x: hidden;
}

.topNav {
    width: calc(100vw - 150px);
}

.modal {
    transition: 150ms linear;
}
