.listHeader {
    width: 85%;
    margin: 10px auto;
}

.list {
    width: calc(100vw - 150px);
    overflow-y: scroll;
    overflow-x: hidden;
    height: 86%;
    margin-top: 10px;
}

.topNav {
    width: calc(100vw - 150px);
}

.modal {
    transition: 150ms linear;
}
