<div class="container-fluid team">
    <form class="" [formGroup]="teamForm">
        <h3 class="m-3">Agregar usuario</h3>
        <div class="row justify-content-center align-items-center m-3">
            <div class="col">
                <input class="form-control" placeholder="Nombre completo" type="text" formControlName="name">
            </div>
            <div class="col">
                <input class="form-control" placeholder="Correo" type="email" formControlName="email">
            </div>
            <div class="col">
                <input class="form-control" placeholder="Contraseña" type="password" formControlName="pass">
            </div>
            <div class="col-1">
                <input class="form-control" placeholder="Color" type="color" formControlName="color">
            </div>
            <div class="col">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" (change)="submitCheckboxChange($event)">
                    <label class="form-check-label" for="autoSizingCheck">ADMIN</label>
                </div>
            </div>
            <div class="row" style="margin: 20px 0px; width: 400px;">
                <!-- <label for="photo">Foto</label> -->
                <input class="form-control" id="photo" type="file" #photo (change)="subirArchivo($event)">
            </div>
            <div class="row">
                <div class="col">
                    <button class="btn btn-primary" [disabled]="!teamForm.valid" (click)="addUser()"><i
                            class="fas fa-user-plus"></i></button>
                </div>
            </div>
            <div *ngIf="notValid()" class="row mt-3 text-danger">Debes llenar todos los campos</div>
        </div>

        <hr>
        <h3 class="mx-3">Equipo</h3>

        <div class="m-3 row">
            <div class="col-12" formArrayName="team">
                <div class="input-group mb-1" *ngFor="let userForm of teamArray.controls; let i = index">
                    <form class="row gap-1 align-items-center w-full" [formGroupName]="i">
                        <input class="form-control col" formControlName="name" type="text" placeholder="Nombre">
                        <input class="form-control col" formControlName="email" type="email" placeholder="Email">
                        <input class="form-control col" formControlName="pass" type="password" placeholder="Contraseña">
                        <div class="col-1">
                            <input class="form-control" formControlName="color" type="color" placeholder="Color">
                        </div>
                        <div class="form-check col-2">
                            <input class="form-check-input" type="checkbox" [checked]="isAdmin(i)"
                                (change)="editCheckboxChange(i, $event)">
                            <label class="form-check-label">ADMIN</label>
                        </div>
                     
                        <button class="btn btn-outline-primary col-1" [disabled]="!teamArray.valid"
                            (click)="editUser(i)">
                            <i class="fas fa-check"></i>
                        </button>
                        <button class="btn btn-outline-danger col-1" (click)="deleteUser(i)">
                            <i class="fas fa-times"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </form>
</div>