<form class="form-group" [formGroup]="editForm">
  <div class="form-floating mb-3">
    <input type="text" class="form-control" id="titulo" placeholder="" formControlName="title">
    <label for="titulo">Título</label>
  </div>
  <div class="form-floating mb-3">
    <select class="form-select" id="responsable" aria-label="Responsable de la actividad" formControlName="asignment">
      <option *ngFor="let user of users" [value]="user.id" selected>{{user.name}}</option>
    </select>
    <label for="responsable">Responsable</label>
  </div>
  <div class="form-floating mb-3">
    <textarea type="text" id="notas" class="form-control" style="height: 200px;" formControlName="notes"></textarea>
    <label for="notas">Notas</label>
  </div>
  <label><small>Fecha de inicio y fin de la actividad</small></label>
  <app-datepicker (from)="setFrom($any($event))" (to)="setTo($any($event))"></app-datepicker>
  <hr>
  <div class="row mt-3 justify-content-center">
    <div class="form-floating col-5">
      <select class="form-select" id="statusSelect" aria-label="Task status selector" formControlName="status">
        <option>Asignada</option>
        <option>En proceso</option>
        <option>Completada</option>
      </select>
      <label for="statusSelect" class="mx-2">Estatus</label>
    </div>
    <button [disabled]="!editForm.valid" class="btn btn-success col-2 m-3" (keyup.enter)="update()" (click)="update()"><i class="fas fa-check"></i></button>
    <button *ngIf="isAdmin()" class="btn btn-danger col-1 m-3" (click)="delete()"><i class="fa-solid fa-trash"></i></button>
  </div>
</form>