<div class="containter-fluid loginContainer">
    <form class="form-group gap-3 p-3 mx-auto row justify-content-center my-5 mx-auto login" [formGroup]="formulario">
        <div class="row">
            <h2>Inicia sesión</h2>
        </div>
        <div class="row">
            <label for="user" class="form-label">Usuario</label>
            <div *ngIf="notValid('email')"><small class="text-danger">Ingresa tu usuario</small></div>
            <input class="form-control" name="email" type="text" formControlName="email">
        </div>
        <div class="row">
            <label for="pass" class="form-label">Contraseña</label>
            <div *ngIf="notValid('pass')"><small class="text-danger">Ingresa tu contraseña</small></div>
            <input class="form-control" name="pass" type="password" formControlName="pass">
        </div>
        <div class="row">
            <button [disabled]="!formulario.valid" class="btn loginB" (click)="login()">Iniciar sesión</button>
        </div>
    </form>
</div>