<li class="list-group-item item" [ngClass]="checkActive()">
  <div class="row nowrap col-12 align-items-center">
    <strong class="col">{{ task.title }}</strong>
    <div class="col">{{ task.start.month }}</div>
    <div class="col">{{ task.end.month }}</div>
    <div class="col">{{ task.status }}</div>
    <div class="col">{{ task.name }}</div>
    <div class="col">
      <button class="btn" data-bs-toggle="modal" data-bs-target="#edit" (click)="sendCurrentItem()">
        <i class="fa-solid fa-pen-to-square"></i>
      </button>
      <!-- <button *ngIf="isAdmin()" class="btn btn-danger" (click)="delete()"><i class="fa-solid fa-trash"></i></button> -->
    </div>
    <div class="col">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="completeCheck" [checked]="checkDone()">
        <label class="form-check-label" for="completeCheck">
          Completar
        </label>
      </div>
    </div>
  </div>
</li>
