.item {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    transition: 250ms linear;
    width: 100%;
    margin: 10px auto;
}

.itemInactive {
    filter: blur(0.7px);
    color: gray;
}

.item:hover {
    transform: scale(1.01);
    box-shadow: 1px 1px 5px gray;
    z-index: 1;
}

.notes {
    border: none;
}

.col {
    border-right: solid 2px #274c78;
}

.colSinBorde {
    border-right: none;
}

.form-check-input {
    width: 40px;
    height: 40px;
    margin-left: 10%;
}
